<template>
  <div>
    <v-container grid-list-md fluid>
      <v-layout  row wrap>
        <v-flex sm12 md2>
          <template>
            <v-card
              class="mx-auto"
              max-width="400">
              <v-card-title>
                <v-icon large left>
                  mdi-twitter
                </v-icon>
                <span class="title font-weight-light">Filters</span>
                <v-card-actions>
                  <template>
                    <v-form>
                      <v-container>
                        <v-layout>
                          <v-flex xs12 class="caption">
                            <v-text-field v-model="filters.brand" label="brand"></v-text-field>
                            <v-text-field v-model="filters.color" label="color"></v-text-field>
                            <v-text-field v-model="filters.model" label="model"></v-text-field>
                            <v-text-field v-model="filters.size" label="size"></v-text-field>
                            <v-text-field type="number" v-model="filters.min_price" label="min_price"></v-text-field>
                            <v-text-field type="number" v-model="filters.max_price" label="max_price"></v-text-field>
                            <v-text-field v-model="filters.collection" label="collection"></v-text-field>
                            <v-select :items="['MALE', 'FEMALE', 'KIDS', 'SHOES']" label="department" v-model="filters.department" clearable></v-select>
                            <v-combobox v-model="tags_selected" :items="tags" label="tags" chips clearable multiple>
                              <template v-slot:selection="data">
                                <v-chip :selected="data.selected" label  outline close color="#26c6da">
                                  {{ data.item }}
                                </v-chip>
                              </template>
                            </v-combobox>
                            <template>
                              <v-btn block color="secondary" dark @click="applyFilters">Filter</v-btn>
                            </template>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-form>
                  </template>
                </v-card-actions>
              </v-card-title>
            </v-card>
          </template>
        </v-flex>
        <v-flex sm2 md10>
          <template>
            <v-data-table
              :headers="headers"
              :items="resources"
              class="elevation-1"
              hide-actions
              :pagination.sync="pagination"
              :loading="loading"
              >
              <template v-slot:no-data>
                <v-alert :value="true" color="error" icon="warning">
                  Sorry, nothing to display here :(
                </v-alert>
              </template>
              <template v-slot:items="props">
                <td class="text-xs-left" v-for="header in headers" v-bind:key="header.value"> {{props.item[header.value]}} </td>
              </template>
            </v-data-table>
            <div class="text-xs-center pt-2">
              <v-pagination v-model="page" :length="pages"></v-pagination>
            </div>
          </template>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import api from '../api.js'
import { VDataTable } from 'vuetify/lib'
export default {
  name: 'Home',
  components: {
    VDataTable
  },
  props: {
    msg: String
  },
  async mounted () {
    this.loadData()
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 250
      },
      headers: [
        { 
          text: 'brand',
          value: 'brand',
          width: '10%'
        },
        { 
          text: 'model',
          value: 'model',
          width: '10%'
        },
        { 
          text: 'color',
          value: 'color',
          width: '10%'
        },
        { 
          text: 'size',
          value: 'size',
          width: '10%'
        },
        { 
          text: 'price',
          value: 'price',
          width: '5%'
        },
        { 
          text: 'collection',
          value: 'collection',
          width: '10%'
        },
        { 
          text: 'department',
          value: 'department',
          width: '10%'
        },
        { 
          text: 'discount',
          value: 'discount',
          width: '5%'
        },
        { 
          text: 'description',
          value: 'description',
          width: '20%'
        }
      ],
      resources: [],
      page: 1,
      pages: 1,
      loading: true,
      filters: {
        brand: null,
        tags: [],
        color: null,
        model: null,
        size: null,
        min_price: null,
        max_price: null,
        collection: null,
        department: null
      },
      tags: [],
      tags_selected: []
    }
  },
  watch: {
    page: {
      handler () {
        this.getResources()
      },
      deep: true
    }
  },
  methods: {
    applyFilters () {
      this.filters.page = 1
      this.filters.paginate = this.pagination.rowsPerPage
      this.filters.tags = this.tags_selected.join(',')
      this.getResources(this.filters)
    },
    async getResources (query) {
      this.loading =  true

      if (!query) {
      
        query = {
          page: this.page,
          paginate: this.pagination.rowsPerPage
        }

      }

      try {
        const resources = await api.resources.list(query)
        this.resources = resources.docs
        this.pages = resources.pages        
      } catch (error) {
        alert('An error occurred, please contact the administrator!')
      }

      this.loading =  false
    },
    async getTags () {
      const tags = await api.tags.list();
      this.tags = tags.map( t => t.tag )
    },
    async loadData () {
      this.getResources()
      this.getTags()
    },

  }
}
</script>


<style>
  tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .0);
  }
  .v-text-field {
    padding-top: 0px;
    margin-top: 0px;
  }
</style>
